{% extends 'clients/base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}  

{% block body %}
    <div class="center" style="display: block;max-width: 1200px;">
        <h1>
            Thermomix SCADA
        </h1>

    </div>
    <div>
        <p class="p2">Selecione o cliente.</p>
    </div>
    <div class="center" style="width: 150px">
        {% for key, value in client_dict.items %}
            <div class="container1">
                <a href="{{ key }}">
                    <img src="{{ value.1.url }}" class="image1" alt="{{ value.0 }}">
                <div class="middle1">
                    <div id="t1" class="text1" style="width: 150px" >{{ value.0 }}</div>
                </div></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}  

{% block script %}
{% endblock %}